*,
*::before,
*::after {
  box-sizing: border-box;
}

  
  /*------------------NAVBAR----------------*/

  .navbar {
    position: fixed;
    z-index: 50;
    width: 100%;
    background-color: white;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; 
    padding: 0rem 1rem;
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
    font-family: "Forum", serif;
  }

  .navbar-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; 
  }

  .brand {
    flex: 1;
    display: flex;
    justify-content: space-between; 
  }

  .brand-link {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.75rem;
    display: inline-block;
    margin-right: 1rem;
    padding: 0.5rem 0;
    white-space: nowrap;
    color: #4a5568;
    text-decoration: none;
  }

  .nav-links {
    display: none;
    flex-grow: 1;
    align-items: center;
    
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: auto;
  }

  .nav-item {
    margin: 0.5rem 0;
  }

  .nav-link {
    padding: 0.2rem 1rem;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: #4a5568;
    transition: color 0.2s ease-in-out;
    text-decoration: none;

  }

  .nav-link:hover {
    color: #718096;
  }

  .nav-text {
    margin-left: 0.5rem;
    
  }

  @media (min-width: 1024px) {
    .nav-links {
      display: flex;
    }

    .nav-list {
      flex-direction: row;
    }

    .nav-item {
      margin: 0;
    }
  }

    

  /*------------------ABOUT_ME----------------*/

/* About Me CSS */
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  margin: 0 auto;
  margin-top: 1.75rem; 
  text-align: center;
  font-family: "Forum", serif;
  width: 100%;
  max-width: 1200px;
}

.about-content {
  margin-top: 4.75rem; 
  margin-bottom: 1.75rem; 
}

.avatar {
  margin: 0 auto;
}

.avatar-image {
  width: 16rem; 
  height: 16rem; 
  border-radius: 25%;
}

.greeting {
  font-weight: 900;
  text-transform: uppercase;
  padding-top: 2rem; 
  padding-bottom: 1.5rem; 
  font-size: 1.875rem;
  color: #d69e2e; 
  letter-spacing: 1px;
}

.introduction {
  font-family: "Forum", serif;
  font-weight: 600;
  font-size: 1.5rem; 
  color: #2d3748; 
  margin: 1rem; 
}

.description {
  width: 100%;
  max-width: 75%; 
  margin: 0 auto;
  color: #718096; 
  font-size: 1.1rem; 
  line-height: 1.75rem; 
  padding-bottom: 1rem;
}

.clickable-text {
  cursor: pointer;
  color: #d69e2e; 
  text-decoration: underline; 
  transition: color 0.3s ease; 
}

.clickable-text:hover {
  color: #0056b3; 
}

.contact-bar {
  padding: 1rem;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  font-size: 1rem;
  color: #2d3748;
}

.contact-links {
  display: flex;
  gap: 1rem;
}

.font-bold {
  font-weight: bold;
  color: #1a73e8;
  text-decoration: none;
}

/* Overlay CSS */
.game-overlay {
  font-family: "Forum", serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;
}

.game-overlay-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 90%; 
  max-height: 70%;
  width: 800px;
  overflow-y: auto;
  overflow-x: hidden; 
  position: relative;
  text-align: center;
}

.game-overlay-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  z-index: 40; 
}


.game-overlay-title {
  font-family: "Forum", serif;
  font-weight: bolder;
  padding-bottom: 1rem; 
  font-size: 1.875rem; 
  color: #d69e2e; 
  margin-bottom: 0px;
}

.game-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.game-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.game-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0px;
}

.game-type {
  font-size: 1.1rem; 
  font-weight: 600;
  margin: 1rem;
  color: #96a2b5; 
}

.game-subtitle {
  font-size: 1.1rem; 
  font-weight: 600;
  margin-top: 0rem;
  margin-bottom: 1rem;
  color: #d69e2e;
}

.game-images {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.game-image {
  max-width: 100%;
  max-height: 305px;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .about-container {
    width: 60%;
  }

  .description {
    font-size: 1.25rem;
  }
}

.game-overlay-ending {
  font-family: "Forum", serif;
  font-weight: bolder;
  padding: 1rem; 
  font-size: 1.25em;
  color: #4f4c47; 
  margin-bottom: 0px;
}



  /*------------------CONTACT----------------*/

  .contact-bar {
    font-family: "Forum", serif;
    text-align: center;
  }
  
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contact-info {
    color: black;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
  }

  .address{
    color: black;
  }
  
  .contact-info p {
    margin: 0.5rem 0;
  }

  .contact-info a {
    color: black; 
    text-decoration: underline; 
  }
  
  .contact-info a:hover,
  .contact-info a:focus {
    color: #718096;
  }
  
  .contact-links {
    display: flex;
    font-size: 1.2rem;
    gap: 2rem;
  }
  
  .contact-links a {
    font-weight: bold;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #4a5568; 
  }
  
  .contact-links a i {
    margin-right: 0.5rem;
  }
  

  /*------------------EDUCATION----------------*/

  .education-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Forum", serif;
    margin: 1rem auto; 
    padding: 0 1rem;
    text-align: center;
    line-height: 1.5;
    padding-top: 2rem;
    max-width: 1280px;
    width: 100%;
  }

  .education-heading {
    font-weight: bolder;
    padding-bottom: 1rem; 
    font-size: 1.875rem; 
    color: #d69e2e; 
  }

  .education-cards {
    width: 100%;
    max-width: 95%; 
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    .education-cards {
      width: 80.333333%; 
    }

    
  }

  /*------------------EDUCATION_CARD----------------*/

  .education-card {
    display: flex;
    background-color: #f5f9fb; 
    border: 1px solid #dce4f0;
    border-radius: 0.75rem; 
    padding: 1rem; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
    margin-bottom: 2rem; 
    flex-direction: column;
    align-items: center;
  }
  
  @media (min-width: 768px) {
    .education-card {
      flex-direction: row;
      padding: 0;
    }
  }
  
  .education-image {
    width: 10rem; 
    height: 10rem; 
    border-radius: 25%;
    margin: 1.5rem; 
    display: block;
  }
  
  .education-content {
    text-align: left;
  }
  
  @media (min-width: 768px) {
    .education-content {
      padding: 2rem; 
      text-align: left;
    }
  }
  
  .education-title {
    font-size: 1.3rem; 
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
  
  .education-subtitle {
    font-size: 1.125rem; 
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.25rem; 
  }
  
  .education-time {
    margin-top: 0; 
    font-size: 1.1rem; 
    color: #6f7882; 
    margin-bottom: 0.25rem;
  }
  
  .education-description {
    color: #4a5568; 
    font-size: 1.1rem; 
    margin-top: 0.25rem; 
    letter-spacing: 0.3px;
  }
  
  /*------------------PROJECT----------------*/


  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem auto; 
    text-align: center;
    line-height: 1.5;
    font-family: "Forum", serif;
    max-width: 1280px;

  }
  
  .project-heading {
    font-weight: 900;
    font-weight: bolder;
    padding-bottom: 2rem; 
    font-size: 1.875rem; 
    color: #d69e2e; 
  }
  
  .project-cards {
    width: 100%;
    max-width: 85%; 
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  
  @media (min-width: 1024px) {
    .project-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  

  /*------------------PROJECT_CARD----------------*/
  .project-card {
    max-width: 100%;
    border-radius: 0.75rem; 
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
    border: 1px solid #c7d3e4; 
    margin: 0.5rem; 
    display: inline-block; 
    vertical-align: top;
    padding-bottom: 1rem;
  }
  
  .project-image-container {
    width: 100%;
    height: 180px; 
    overflow: hidden;
    position: relative; 
  }
  
  .project-image {
    position: absolute; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
    object-position: center top; 
  }
  
  .project-content {
    padding: 1.5rem;
    padding-bottom: 0.5rem;
  }
  
  .project-title {
    font-weight: bold;
    font-size: 1.25rem; 
    margin: 0.5rem 0; 
  }
  
  .project-time {
    color: #616c7a; 
    font-size: 1rem; 
    margin: 0.25rem 0; 
  }
  
  .project-description {
    color: #4a5568; 
    font-size: 1.1rem; 
    text-align: left;
  }
  
  .project-tags {
    padding: 1rem 1rem; 
    padding-top: 1.5rem;
  }
  
  .project-tag {
    display: inline-block;
    background-color: #e2e8f0; 
    border-radius: 9999px; 
    padding: 0.25rem 0.75rem; 
    font-size: 1rem; 
    font-weight: 600; 
    color: #4a5568; 
    margin: 0.25rem 0.3rem; 
}
  
.project-demo {
    margin: 0.8rem 0; 
    color: #4a5568; 
}
  
.project-demo-link {
    color: #d69e2e; 
    font-size: 1.1rem; 
    text-align: left;
}
  
@media (min-width: 600px) {
    .project-card {
        margin: 0.5rem; 
        margin-left: 1.5rem; 
        margin-right: 1.5rem; 
    }
  
    .project-container {
        padding: 1rem;
    }

    .project-image-container {

        height: 300px; 
    }
}



/*------------------SKILLS----------------*/

.skill-container {
  font-family: "Forum", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto 3rem auto;
  padding: 0 1rem;
  text-align: center;
  line-height: 1.5;
  max-width: 1280px;
}

.skill-heading {
  font-weight: 900;
  font-size: 1.875rem;
  color: #d69e2e;
  margin-bottom: 0px;
}

.skill-subheading {
  font-weight: 900;
  font-size: 1.2rem;
  color: #d69e2e;
  margin-top: 0.5rem;
  font-size: 1.4rem;
}

.skill-sections {
  width: 83.333333%;
  max-width: 91.666667%;
  margin: 0 auto;
}

.skill-footer {
  font-family: "Forum", serif;
  font-weight: 600;
  font-size: 1.25rem;
  color: #2d3748;
  margin-top: 2rem;
}

.skill-section-title {
  font-family: "Forum", serif;
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
  color: #2d3748;
  margin-bottom: 3rem;
}

.skill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.skill-card {
  margin: 0 auto;
  padding: 1rem;
  background-color: #f7fafc;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.skill-card:hover {
  background-color: #f1f1f1;
  transform: translateY(-5px);
}

.skill-icon {
  color: #718096;
  margin-bottom: 0.5rem;
}

.custom-icon-size {
  font-size: 3rem;
}

.skill-name {
  color: #4a5568;
  padding-top: 0.5rem;
}

/* Overlay styles */
.skill-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;
}

.skill-overlay-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  max-height: 100%;
  width: 70%;
  overflow-y: auto;
  position: relative;
  text-align: center;
}

.skill-overlay-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.skill-overlay-icon {
  font-size: 4rem;
  color: #718096;
}

.skill-overlay-title {
  font-weight: bold;
  font-size: 1.75rem;
  color: #2d3748;
}

.skill-overlay-description {
  color: #4a5568;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left; 
}

.skill-overlay-description ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.skill-overlay-description ul li {
  margin-bottom: 0.5rem;
}

.skill-overlay-description p {
  margin-bottom: 1rem; 
}


@media (min-width: 768px) {
  .skill-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .skill-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
  }
}




/*------------------CERTIFICATE----------------*/


.certificate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  text-align: center;
  line-height: 1.5;
  font-family: "Forum", serif;
  width: 90%;
  max-width: 1280px;
  padding: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
  border-radius: 0.75rem;
  border: 1px solid #c7d3e4;
}

.certificate-heading {
  font-weight: 900;
  padding-bottom: 1rem;
  font-size: 2rem; 
  color: #d69e2e; 
  text-align: center;
  margin-bottom: 1rem;
  font-family: "Forum", serif;
  padding: 0.5rem 1rem;
}

.certificateContent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden; 
}

@media (min-width: 1024px) {
  .certificateContent-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center; 
    text-align: left;
    overflow-x: hidden; 
  }
}


.certificate-img {
  width: 100%;
  max-width: 600px;
  height: auto;
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #c7d3e4;
}

.certificate-img img,
.project-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover; 
}


.certificate-content {
  padding: 1rem;
  text-align: center;
}

.certificate-title {
  font-weight: bold;
  font-size: 1.35rem;
  margin: 0.5rem 0;
  color: #2d3748;
}

.certificate-time {
  color: #616c7a;
  font-size: 1rem;
  margin: 0.25rem 0;
}

.certificate-description {
  color: #4a5568;
  font-size: 1.1rem;
  text-align: left;
  margin-top: 0.5rem;
  line-height: 1.5;
  padding-left: 1rem;
}

.certificate-description ul {
  list-style-type: disc;
  padding-left: 1rem;
}


.download-certificate{
  font-family: "Forum", serif;
  font-weight: 600;
  font-size: 1rem;
  color: #d69e2e; 
  margin-top: 2rem;
}

@media (min-width: 1024px) {
  .certificateContent-container {
    flex-direction: row;
    align-items: flex-start; 
    text-align: left;
    width: 100%;
  }

  .certificate-img {
    margin-right: 1.5rem;
    max-width: 50%;
  }

  .certificate-content {
    max-width: 50%;
  }
}




/*------------------EXPERIENCE----------------*/

  
.experience-container {
    font-family: "Forum", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1240px;
    width: 100%;
}
  
.experience-heading {
    font-weight: 900;
    padding-bottom: 2rem;
    font-size: 1.875rem; 
    color: #d69e2e; 
}
  
.experience-cards {
    width: 83.333333%; 
    max-width: 83.333333%; 
    margin: 0 auto;
}
  
.education-card {
    display: flex;
    background-color: #f5f9fb; 
    border: 1px solid #dce4f0;
    border-radius: 0.75rem; 
    padding: 1rem; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
    margin-bottom: 2rem; 
    flex-direction: column;
    align-items: center;
    line-height: 1.5rem;
}
  
@media (min-width: 768px) {
    .education-card {
        flex-direction: row;
        padding: 0;
    }
}

  
.education-image {
    width: 10rem; 
    height: 10rem; 
    border-radius: 25%;
    margin: 1.5rem; 
    display: block;
}
  
.education-title {
    font-size: 1.3rem; 
    font-weight: 600;
}
  
.education-role {
    font-size: 1.125rem; 
    font-style: italic;
    color: #7c8794; 
    margin: 0.25rem 0; 
}
  
.education-time {
    color: #8994a3; 
    margin-bottom: 0.5rem; 
}
  
.education-description {
    color: #4a5568; 
    margin-top: 0.5rem; 
    font-size: 1rem;
}

  
@media (min-width: 768px) {
.education-title {
    font-size: 1.3rem; 

}
  
.education-role {
    font-size: 1.125rem; 

}
  

.education-description {
  font-size: 1.125rem; 
}

}


/*------------------QUOTE----------------*/
.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    max-width: 1200px;
    margin-top: 3rem; 
    margin-bottom: 3rem; 
    font-family: "Forum", serif;
}
  
.quote-heading {
    font-weight: 900;
    padding-bottom: 2rem;
    font-size: 1.875rem; 
    color: #d69e2e; 
    text-align: center;
}
  
.quote-content {
    width: 90%; 
    max-width: 90%; 
    margin: 0 auto;
}
  
.quote-box {
    background-color: #f7fafc; 
    border-radius: 0.75rem; 
    padding: 2rem; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
    margin-bottom: 1.5rem; 
}
  
.quote-text {
    padding-top: 3rem; 
    padding-bottom: 1.5rem; 
    font-size: 1.4rem; 
    padding-left: 0.5rem; 
    padding-right: 0.5rem; 
    letter-spacing: 0.5px;
    text-align: center;
}
  
.quote-author {
    font-size: 1.25rem; 
    padding-left: 0.5rem; 
    padding-right: 0.5rem; 
    text-align: right; 
    padding-right: 9%;
}
  
.quote-text2 {
    padding-top: 1.5rem; 
    padding-bottom: 1.5rem; 
    font-size: 1.25rem; 
    padding-left: 0.5rem; 
    padding-right: 0.5rem; 
    color: rgb(103, 116, 126);
    text-align: center;
}
  
.download-resume {
    font-family: "Forum", serif;
    font-weight: 600;
    font-size: 1.4rem; 
    color: #2d3748; 
    margin-top: 2rem; 
}
  
.footer {
    font-family: "Forum", serif;
    background-color: #fffae0; 
    margin-top: 6rem; 
    padding: 2rem 0; 
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
  
.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    text-align: center;
}
  
.footer-content {
    width: 91.666667%; 
    max-width: 66.666667%; 
    margin: 0 auto;
}
  
.footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-bottom: 1rem; 
    text-decoration: none;
    font-size: 1.2rem;
}
  
.footer-content a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}
  
.footer-content a:hover,
.footer-content a:focus {
    color: rgb(111, 103, 103); 
}
  
.footer-links a i {
    margin-right: 0.5rem;
    text-decoration: none;
    color: black;
}
  
.footer-name {
    font-size: 1.2rem; 
    font-weight: bold;
    color: #000000; 
    margin: 0px; 
}
  
.footer-info {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 0.1rem; 
    font-size: 1.2rem;
}
  
@media (min-width: 768px) {
    .footer-info {
        flex-direction: row; 
        gap: 3rem; 
    }
}


.navbar,
.footer {
  overflow-x: hidden; 
}

.project-image-container,
.education-image {
  overflow: hidden;
}

.project-cards,
.skill-grid,
.footer-links {
  overflow-x: hidden; 
}

.project-card,
.skill-card {
  max-width: 100%;
}

.contact-container {
  overflow-x: hidden;
}
